@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   MODO CLARO (por defecto)
   ========================= */
:root {
  --background: #ffffff;
  --foreground: #111010;

  --primary: #FED835;
  --secondary: #304fff;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

/* =========================
   MODO OSCURO
   Se activa cuando <html class="dark">
   ========================= */
.dark {
  --background: #2b2a2a;
  --foreground: #807e7e;

  --primary: #FED835;
  --secondary: #6b7cff;

  --primary-accent: #e5c230;
  --foreground-accent: #b5b5b5;
  --hero-background: #161a22;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
